<%  if @search.fetch.blank? && @title !=nil %>
  <h3>Tu nous sors le seul film au monde qui n'existe pas!!!</h3>
<% else @search %>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Films</th>
			<th scope="col">Réalisé par</th>
			<th scope="col">Date de sortie</th>
			<th scope="col">image</th>
		</tr>
	</thead>
	<tbody>
		<% if @search.fetch != nil %>
		<% @search.fetch.each do |result| %>
		<tr>
			<td> <%= result['title'] %> </td>
			<td><%= result['trailers'] %></td>
			<td><%= result['release_date'] %></td>
			<td><% if result['poster_path'] %>
            <img class="affiche" src="http://image.tmdb.org/t/p/w185/<%= result['poster_path'] %>" >
          		<% else %>
          			<%= "Pas d'affiche répertoriée" %>
				<% end %>
			</td>
		</tr> 
		<% end %>
		<% end %>
	</tbody>
</table>
<% end %>

